/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";
 @import "font-awesome";

 .jumbotron {
   background-image:url('https://ww1.sinaimg.cn/large/006tKfTcly1fd3rdids5oj30xc08c3zq.jpg');
   background-repeat: no-repeat;
   background-size: cover;
   padding-bottom: 110px;

 }

 .logo-small {
     color: #084c8d;
     font-size: 50px;
 }

 .carousel-control.right, .carousel-control.left {
    background-image: none;
    color: #f4511e;
}

.carousel-indicators li {
    border-color: #f4511e;
}

.carousel-indicators li.active {
    background-color: #f4511e;
}

.item h4 {
    font-size: 19px;
    line-height: 1.375em;
    font-weight: 400;
    font-style: italic;
    margin: 70px 0;
}

.item span {
    font-style: normal;
}
.header {
  width: 1200px; /*宽度1200px*/
  margin: 0 auto; /*水平居中*/
  margin-top: 0px; /*上边距*/
}
.logo {
  float: left; /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  margin-right: 180px; /*加点右边距，和search模块拉开距离*/
}

.logo a {
  font-size: 10px; /*设置字体36px*/
  color: #C81623; /*红色*/
  text-decoration: none; /*不要下划线*/
}
.search {
  float: left; /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  width: 400px;
  margin-left: 40px; /*右边距*/
  margin-top: 10px; /*上边距*/
  position: relative; /*相对定位*/
}

.search-input {
  width: 400px;
  height: 36px;
  line-height: 36px; /*设置行高，实现垂直居中，口诀「如果高度等于行高，那就实现了文本的垂直居中」*/
  color: #666;
  padding: 4px 20px; /*调一下上下左右边距*/
  border-width: 2px; /*边框宽度为2px*/
  border-color: #D32048; /*设置边框颜色为红色*/
  border-style: solid; /*设置为实线*/
  font-size: 14px; /*字体14px*/
  font-family: "microsoft yahei"; /*设置成微软雅黑字体*/
  border-radius: 20px; /*圆角20px*/
}

.search-button {
  width: 54px;
  height: 36px;
  border: none; /*去掉button默认的border*/
  background: none; /*去掉button默认的背景颜色*/
  font-family: "Microsoft YaHei";
  font-size: 16px;
  position: absolute; /*绝对定位*/
  cursor: pointer; /*鼠标一上去，显示手型*/
  top: 0;
  right: 0;
}

.search-button .fa-search {
  color: #d32048; /*搜索图标的颜色*/
}
.cart-wrap {
  float: left; /*logo、seatch、cart这三个模块都是用div包起来的，是block元素，如果要处于同一行，那就要加float*/
  margin-top: 10px; /*上边距*/
  margin-left: 238px; /*左边距*/
}

.cart {
  padding: 8px 20px; /*加内边距*/
  cursor: pointer; /*鼠标一上去，显示手型*/
  border: 1px solid #DFDFDF; /*1像素，实线，灰色*/
  background: #F5F5F5; /*灰色背景*/
  font-size: 12px; /*字体小一点好看*/
}

.fa-shopping-cart {
  color: #C81623; /*红色图标*/
  font-size: 16px; /*图标大一点好看*/
  margin-right: 10px; /*右边距*/
}

.cart a {
  color: #6D6D6D; /*灰色字体*/
  text-decoration: none; /*不要下划线*/
}

.cart a:hover {
  color: #C81623; /*鼠标一上去的时候，字体变成红色*/
}
